# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/build
/.idea
/index.d.ts
/index.js
/ruleMap.d.ts
/ruleMap.js
/useForm.d.ts
/useForm.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock